/* GLOBALS */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(231, 231, 231);
    transition: all 0.3s ease-in-out;
}

#dashboard_main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    height: auto;
    min-height: 100vh;
    width: 80%;
    margin: auto;
    margin-bottom: 10rem;
    margin-top: 10rem;
    grid-template-areas: 
    "dash_header dash_header data_box"
    "dash_one dash_one dash_two"
    "dash_one dash_one dash_three";
}

@media (max-width: 1000px) {
    #dashboard_main_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }
}

.dashboard_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 15rem;
    height: auto;
    min-height: 20rem;
    /*animation: dashboard_entry_width 1.5s, dashboard_entry_opacity 2s;
    animation-fill-mode: forwards;*/
    background-color: rgba(255, 255, 255, 0.95);
    color: rgb(0, 0, 0);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3rem;
    box-shadow: 0px 1px 3px rgb(207, 193, 193);
    position: relative;
}

@media (max-width: 1000px) {
    .dashboard_section {
       margin-bottom: 1rem;
    }
}

.dashboard_section_top {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.dashboard_section_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: r
}

#dashboard_h1 {
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: -0.1rem;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


@-moz-document url-prefix() {
    #dashboard_h1 {
        margin-bottom: 2rem;
    }
}

@media (max-width: 800px) {
    #dashboard_h1 {
        font-size: 4rem;
    }
}

#dashboard_h2 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 0;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 4rem;
}

#dashboard_databox {
    grid-area: data_box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    padding: 1rem;
    height: 100%;
    width: 100%;
    min-height: 20rem;
}

@media(max-width: 800px) {
    #dashboard_databox {
        margin-bottom: 5rem;
    }
}

.dashboard_section_top h3 {
    z-index: 1;
    padding: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.dashboard_section_bottom p {
    font-size: 1.2rem;
    padding: 1.5rem;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#dashboard_header {
    grid-area: dash_header;
    animation: none;
    background-color: transparent;
    color: black;
    text-align: center;
    min-height: 70vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    flex-direction: column;
    width: 90%;
}

#dashboard_data {
    grid-area: dash_one;
    font-size: 3rem;

}

#dashboard_profile {
    grid-area: dash_two;
}

#dashboard_music {
    grid-area: dash_three;
    animation: none;
}


/*@keyframes dashboard_entry_width {
    from {width: 0%}
    to {width: 100%}
}

@keyframes dashboard_entry_opacity {
    from {opacity: 0}
    to {opacity: 100%}
}*/

/* NAVBAR STYLING BEGINS */
#navbar_desktop {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 2rem;
    ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 800px) {
    #navbar_desktop {
        display: none;
    }
}


.navbar_background {
    background-color: rgba(255, 255, 255, 0.95) !important;
    box-shadow: 0 0 10px rgb(197, 197, 197);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

li {
    padding: 0.5rem;
    width: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

li h5 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: 400;
}


li:hover {
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* NAVBAR STYLING ENDS */


/* LARGE TOP LOGO STYLING BEGINS */
@media (min-width: 801px) {
    #logo_large {
        position: fixed;
        top: 0.5rem;
        left: 0.5rem;
        width: 4rem;
        height: 4rem;
        background-image: url("nblogo.PNG");
        background-size: cover;
        background-position: center center;
        z-index: 6;
    }
}

@media (max-width: 800px) {
    #logo_large {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        width: 3rem;
        height: 3rem;
        background-image: url("nblogo.PNG");
        background-size: cover;
        background-position: center center;
        z-index: 6;
    }
}

#overlay_menu {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.3s linear;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
}

#overlay_menu h2 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.3rem;
    font-weight: 300;
    font-size: 1.3rem;
}

#overlay_menu h2:hover {
    color: rgb(32, 32, 32);
    background-color: rgb(245, 245, 245);
}


#burger {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 5;
    cursor: pointer;
}

.menu_lines {
    background-color: rgb(32, 32, 32);
}

.menu_line1,
.menu_line2,
.menu_line3 {
    width: 2rem;
    height: 0.3rem;
    margin: 0.3rem;
    transition: 0.5s;
    display: none;
    background-color: rgb(32, 32, 32);
    outline: 1px solid rgb(212, 212, 212);
}

@media (max-width: 800px) {

    .menu_line1,
    .menu_line2,
    .menu_line3 {
        display: flex;
    }
}

.menu_line_effect1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 4px);
    transform: rotate(-45deg) translate(-7px, 4px);
}

.menu_line_effect3 {
    -webkit-transform: rotate(45deg) translate(-9px, -7px);
    transform: rotate(45deg) translate(-9px, -7px);
}

#overlay_menu h2:first-of-type {
    pointer-events: none;
    font-size: 3rem;
    font-weight: 600;
}

.general_overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(22, 22, 22, 0.90);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.general_overlay p {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
}

#close_general_overlay {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#close_general_overlay:hover {
    background-color: rgb(241, 241, 241);
    color: rgb(32, 32, 32)
}

#main_footer {
    min-height: 30vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 20);
    padding: 3rem;
    position: relative;
}

.footer_section {
    width: 50%;
    min-width: 20rem;
    height: auto;
    min-height: 22rem;
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 800px) {
    .footer_section {
        width: 100%;
        padding-top: 2rem;
        min-height: 15rem;
    }
}

#main_footer_left {
    align-items: flex-end;
    padding-right: 4rem;
}

@media (max-width: 800px) {
    #main_footer_left {
        align-items: center;
        padding-right: 0;
    }
}

#main_footer_right {
    align-items: flex-start;
    padding-left: 4rem;
}

@media (max-width: 800px) {
    #main_footer_right {
        align-items: center;
        padding-left: 0;
    }
}

#main_footer_right p:hover {
    color: rgb(199, 199, 199);
    cursor: pointer;
}

.footer_h3 {
    color: rgb(231, 231, 231);
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 1rem;
    padding: 0;
    letter-spacing: 0.1rem;
    width: 15rem;
}

.footer_p {
    color: rgb(231, 231, 231);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    width: 15rem;
    line-height: 1.5rem;
    transition: all 0.3s ease-in-out;
}

#email {
    color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
    cursor: pointer;
    padding: 0.8rem;
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
}

#email a {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.1rem;
}

#email:hover {
    background-color: rgb(231, 231, 231);
}

#email:hover a {
    color: rgb(32, 32, 32);
}

#social_items {
    width: 15rem;
    margin-top: 1rem;
    border-top: 1px solid rgb(73, 73, 73);
    padding-top: 1rem;
}

.fab {
    color: white;
    font-size: 1.3rem;
    margin-right: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fab:hover {
    color: rgb(199, 199, 199);
}


.fas {
    transition: all 0.3s linear;
}

span:hover .fas {
    color: rgb(94, 94, 94);
}
