/* GLOBALS */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("");
    background-size: cover;
    background-position: center center;
}

body {
   /* background: linear-gradient(to bottom, white 40%, transparent);*/
}

a {
    text-decoration: none;
    color: rgb(231, 231, 231);
    transition: all 0.3s ease-in-out;
}

#dashboard_main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    height: auto;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    grid-template-areas: 
    "dash_header dash_images dash_images"
}

@media (max-width: 1000px) {
    #dashboard_main_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }
}

.dashboard_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 15rem;
    height: auto;
    min-height: 20rem;
    background-color: rgba(255, 255, 255, 0.99);
    color: rgb(0, 0, 0);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3rem;
    box-shadow: 0px 1px 3px rgb(177, 175, 175);
    position: relative;
}

@media(max-width: 800px) {
    .dashboard_section {
        box-shadow: none;
    }
}

#dashboard_h1 {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: -0.1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

@-moz-document url-prefix() {
    #dashboard_h1 {
        margin-bottom: 2rem;
    }
}

@media (max-width: 1000px) {
    #dashboard_h1 {
        font-size: 4rem;
        color: black;
    }
}

#dashboard_h2 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 0;
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 4rem;
}

@media (max-width: 1000px) {
    #dashboard_h2 {
        color: black;
    }
}

#dashboard_images {
    grid-area: dash_images;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 80vh;
}

@media(max-width: 800px) {
    #dashboard_images {
        margin: 0;
    }
}

.dashboard_img_container {
    flex: 1;
    min-width: 33.33%;
    height: 50%;
    min-height: 40vh;
    background-size: cover;
    background-position: center center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px) {
    .dashboard_img_container {
        min-width: 10rem;
        max-height: 10rem;
        border-bottom: 5px solid white;
    }
}

.dashboard_img_container h2 {
    font-size: 2rem;
    font-weight: 200;
    background-image: linear-gradient(rgb(12, 151, 175), rgb(12, 151, 175));
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: all 0.2s linear;
    color: white;
}

.dashboard_img_container:nth-child(even) {
    cursor: pointer;
}

.dashboard_img_container:nth-child(even):hover h2 {
    color: rgb(172, 172, 172);
    background-size: 99% 1px, auto;
}

.dashboard_img_container:nth-of-type(1) {
    background-image: url("crossfit-534615_1280.jpg");
}

.dashboard_img_container:nth-of-type(3) {
    background-image: url("action-active-black-and-white-1925452.jpg");
}

.dashboard_img_container:nth-of-type(5) {
    background-image: url("victor-xok-1432664-unsplash.jpg");
}

.dashboard_img_container:nth-of-type(6) {
    background-color: black;
}

#dashboard_header {
    grid-area: dash_header;
    animation: none;
    background-color: black;
    min-height: 80vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
    text-align: center;
    padding: 2rem;
}

@media (max-width: 1000px) {
    #dashboard_header {
        margin-bottom: 0;
        background-color: white;
        min-height: 50vh;
    }
}

/* NAVBAR STYLING BEGINS */
#navbar_desktop {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 800px) {
    #navbar_desktop {
        display: none;
    }
}


.navbar_background {
    background-color: rgba(255, 255, 255, 0.95) !important;
    box-shadow: 0 0 3px rgb(197, 197, 197);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

li {
    padding: 0.5rem;
    width: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

li h5 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: 400;
}


li:hover {
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 5px rgb(122, 122, 122);
}

/* NAVBAR STYLING ENDS */

/* SITEMAP OVERLAY */
#site_map_overlay {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: fixed;
    padding: 2rem;
    right: 0;
    top: 2rem;
    background-color: rgb(26, 26, 26);
    width: 0;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
    box-shadow: 0px 0px 3px rgb(56, 56, 56);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

#site_map_overlay hr {
    width: 100%;
    height: 0.1rem;
    border: none;
    border-bottom: 1px solid white;
}

#email_sitemap {
    position: absolute;
    bottom: 7.5rem;
}

@media(max-height: 600px) {
    #email_sitemap {
        position: initial;
    }
}

.sitemap_h2 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

.sitemap_h3 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 200;
    font-size: 1.1rem;
    margin: 0;
    transition: all 0.2s linear;
}

.sitemap_h3:hover {
    color: rgb(190, 190, 190)
}

/* LARGE TOP LOGO STYLING BEGINS */
@media (min-width: 801px) {
    #logo_large {
        position: fixed;
        top: 0.5rem;
        left: 0.5rem;
        width: 4rem;
        height: 4rem;
        background-image: url("nblogo.PNG");
        background-size: cover;
        background-position: center center;
        z-index: 6;
    }
}

@media (max-width: 800px) {
    #logo_large {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        width: 3rem;
        height: 3rem;
        background-image: url("nblogo.PNG");
        background-size: cover;
        background-position: center center;
        z-index: 6;
    }
}

#overlay_menu {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.3s linear;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
}

#overlay_menu h2 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.3rem;
    font-weight: 300;
    font-size: 1.3rem;
}

#overlay_menu h2:hover {
    color: rgb(32, 32, 32);
    background-color: rgb(245, 245, 245);
}


#burger {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 5;
    cursor: pointer;
}

.menu_lines {
    background-color: rgb(32, 32, 32);
}

.menu_line1,
.menu_line2,
.menu_line3 {
    width: 2rem;
    height: 0.3rem;
    margin: 0.3rem;
    transition: 0.5s;
    display: none;
    background-color: rgb(32, 32, 32);
    outline: 1px solid rgb(212, 212, 212);
}

@media (max-width: 800px) {

    .menu_line1,
    .menu_line2,
    .menu_line3 {
        display: flex;
    }
}

.menu_line_effect1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 4px);
    transform: rotate(-45deg) translate(-7px, 4px);
}

.menu_line_effect3 {
    -webkit-transform: rotate(45deg) translate(-9px, -7px);
    transform: rotate(45deg) translate(-9px, -7px);
}

#overlay_menu h2:first-of-type {
    pointer-events: none;
    font-size: 3rem;
    font-weight: 600;
}

#main_footer {
    min-height: 30vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 20);
    padding: 3rem;
    position: relative;
}

.footer_section {
    width: 50%;
    min-width: 20rem;
    height: auto;
    min-height: 22rem;
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 800px) {
    .footer_section {
        width: 100%;
        padding-top: 2rem;
        min-height: 15rem;
    }
}

#main_footer_left {
    align-items: flex-end;
    padding-right: 4rem;
}

@media (max-width: 800px) {
    #main_footer_left {
        align-items: center;
        padding-right: 0;
    }
}

#main_footer_right {
    align-items: flex-start;
    padding-left: 4rem;
}

@media (max-width: 800px) {
    #main_footer_right {
        align-items: center;
        padding-left: 0;
    }
}

#main_footer_right p:hover {
    color: rgb(199, 199, 199);
    cursor: pointer;
}

.footer_h3 {
    color: rgb(231, 231, 231);
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 1rem;
    padding: 0;
    letter-spacing: 0.1rem;
    width: 15rem;
}

.footer_p, .email_p, .footer_contact_p {
    color: rgb(231, 231, 231);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    width: 15rem;
    line-height: 1.5rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#email, #email_sitemap {
    color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
    cursor: pointer;
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

#email a, #email_sitemap a {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.1rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#email:hover, #email_sitemap:hover {
    background-color: rgb(231, 231, 231);
}

#email:hover a, #email_sitemap:hover a {
    color: rgb(32, 32, 32);
}

#social_items, #social_items_sitemap {
    width: 15rem;
    margin-top: 1rem;
    border-top: 1px solid rgb(73, 73, 73);
    padding-top: 1rem;
    display: flex;
    flex-direction: row;

}

#social_items_sitemap {
    position: absolute;
    bottom: 4rem;
}

@media(max-height: 600px) {
    #social_items_sitemap {
        position: initial;
    }
}

.fab {
    color: white;
    font-size: 1.4rem;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fab:hover {
    color: rgb(199, 199, 199);
}


.fas {
    transition: all 0.3s linear;
}

span:hover .fas {
    color: rgb(94, 94, 94);
}

/* GENERAL OVERLAY */
.general_overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.99);
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 11;
    opacity: 0;
    overflow-x: hidden;
}

.general_overlay p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
    width: 80%;
    height: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.general_overlay .overlay_h2 {
    margin-top: 3rem;
}

@media(max-width: 600px) {
    .general_overlay p {
        font-size: 1rem;
    }
}

#close_general_overlay {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 0.5rem;
    margin-bottom: 5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 400;
}

#close_general_overlay:hover {
    background-color: rgb(241, 241, 241);
    color: rgb(32, 32, 32)
}

.overlay_h2 {
    color: rgb(224, 224, 224);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 1rem;
    border-bottom: 1px solid white;
}


/* ALERT*/


#alert {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 20rem;
    width: 20rem;
    z-index: 2;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 3px rgb(107, 107, 107);
    border-radius: 2%;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: all 0.2s linear;
}

#alert p {
    font-size: 1.2rem;
    text-align: center;
}

#alert h2 {
    font-size: 2rem;
}

#alert button:hover {
    border: 1px solid white;
}

button {
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 1rem;
    margin-top: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border: 1px solid transparent;
    box-shadow: 0px 1px 3px rgb(85, 85, 85);
    transition: all 0.2s linear;
    cursor: pointer;
}

button:hover {
    background-color: rgb(46, 46, 46);
    color: white;
}